.logo {
  display: block;
  height: 40px;
  width: 40px;

  font-family: Mulish, -apple-system, 'system-ui', 'Segoe UI', Helvetica, Arial, sans-serif;

  line-height: 40px;
  padding: 0 8px;
  font-weight: 800;
  letter-spacing: -0.44px;

  background: purple;
  color: white;
  border-radius: 4px;
}
